div.assignment {
    background-color: #f5f5f5;
    padding: 6px 20px;
    margin-block: 8px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

div.assignment:hover {
    background-color:#070a12;
    color: white;
}

a.assignment-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

a.hidden-link {
    text-decoration: none;
    color: black;
}